@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
body {
  font-family: "Poppins", sans-serif;
  padding-left: 0;
  margin: 0;
  color: #dee4e7;
  background-color: #212121;
}
.navbar {
  height: 100%;
  width: 360px;
  min-width: 290px;
  position: fixed;
  top: 10;
  left: 10;
  overflow-y: auto;
  overflow-x: hidden;
}

header {
  font-size: 40px;
  background-color: #212121;
  color: #f0b90b;
  padding: 10px;
  position: sticky;
  top: 0;
  text-align: center;
}
.details {
  margin-left: 380px;
  margin-right: 20px;
}
.coin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 17px;
}

button {
  color: #f638dc;
  padding: 10px 20px;
  border-radius: 6px;
  border-width: 2px;
  font-size: 15px;
  border-color: transparent;
  background: transparent;
  transition: 0.25s ease;
  border-style: solid;
}
button:hover {
  color: #fff;
  background: #f638dc;
  border-color: #f638dc;
}

input {
  height: 2.5rem;
  border: 0;
  color: #2f2f2f;
  font-size: 20px;
}
input[type="search"] {
  outline: 0;
  background: #fff;
  padding: 0 1.6rem;
  border-radius: 0.7rem;
}
